# 1. Importing Data and Libraries

In [27]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [29]:
# Importing data
data=pd.read_csv(r'E:\MEHBOOBA\ONLINE COURSES\1. Data Science\INeuron\INTERNSHIP\Back-Order-Prediction\data\Train.csv', low_memory=False)

# 2. Understanding Data

In [30]:
# Printing first 5 rows of data
data.head()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
0,1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1,1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
2,1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
3,1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
4,1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

##### Here last row needs to be checked

In [31]:
data.shape

(1687861, 23)

In [32]:
data_info=pd.DataFrame()
data_info['Columns']=data.columns
data_info['Datatype']=data.dtypes.values
data_info['No.of Unique Values']=data.nunique().values
data_info['Count of Missing Nos']=data.isna().sum().values
data_info['Percent of Missing Nos']=(round(data.isna().sum()/len(data)*100)).values
data_info

,Columns,Datatype,No.of Unique Values,Count of Missing Nos,Percent of Missing Nos
0,sku,object,1687861,0,0.0
1,national_inv,float64,14969,1,0.0
2,lead_time,float64,32,100894,6.0
3,in_transit_qty,float64,5230,1,0.0
4,forecast_3_month,float64,7825,1,0.0
5,forecast_6_month,float64,11114,1,0.0
6,forecast_9_month,float64,13662,1,0.0
7,sales_1_month,float64,5764,1,0.0
8,sales_3_month,float64,10495,1,0.0
9,sales_6_month,float64,14818,1,0.0
10,sales_9_month,float64,18341,1,0.0
11,min_bank,float64,5568,1,0.0
12,potential_issue,object,2,1,0.0
13,pieces_past_due,float64,826,1,0.0
14,perf_6_month_avg,float64,102,1,0.0
15,perf_12_month_avg,float64,102,1,0.0
16,local_bo_qty,float64,654,1,0.0
17,deck_risk,object,2,1,0.0
18,oe_constraint,object,2,1,0.0
19,ppap_risk,object,2,1,0.0
20,stop_auto_buy,object,2,1,0.0
21,rev_stop,object,2,1,0.0
22,went_on_backorder,object,2,1,0.0

In [33]:
data.tail()

,sku,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
1687856,1373987,-1.0,NaN,0.0,5.0,7.0,9.0,1.0,3.0,3.0,...,0.0,-99.00,-99.00,1.0,No,No,No,Yes,No,No
1687857,1524346,-1.0,9.0,0.0,7.0,9.0,11.0,0.0,8.0,11.0,...,0.0,0.86,0.84,1.0,Yes,No,No,No,No,Yes
1687858,1439563,62.0,9.0,16.0,39.0,87.0,126.0,35.0,63.0,153.0,...,0.0,0.86,0.84,6.0,No,No,No,Yes,No,No
1687859,1502009,19.0,4.0,0.0,0.0,0.0,0.0,2.0,7.0,12.0,...,0.0,0.73,0.78,1.0,No,No,No,Yes,No,No
1687860,(1687860 rows),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

##### Here last row needs checking

In [34]:
data.iloc[-1,:]

sku                  (1687860 rows)
national_inv                    NaN
lead_time                       NaN
in_transit_qty                  NaN
forecast_3_month                NaN
forecast_6_month                NaN
forecast_9_month                NaN
sales_1_month                   NaN
sales_3_month                   NaN
sales_6_month                   NaN
sales_9_month                   NaN
min_bank                        NaN
potential_issue                 NaN
pieces_past_due                 NaN
perf_6_month_avg                NaN
perf_12_month_avg               NaN
local_bo_qty                    NaN
deck_risk                       NaN
oe_constraint                   NaN
ppap_risk                       NaN
stop_auto_buy                   NaN
rev_stop                        NaN
went_on_backorder               NaN
Name: 1687860, dtype: object

In [36]:
# saving a copy of data before cleaning
#data_copy=data.copy()

# 3. Cleaning Data

In [37]:
# Here sku is unique number for each observation. This can be set as index column

In [38]:
data.index=data['sku']

In [39]:
data.drop(['sku'], axis=1, inplace=True)

In [40]:
data.head()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
sku,,,,,,,,,,,,,,,,,,,,,
1026827,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,No,No,No,Yes,No,No
1043384,2.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.99,0.99,0.0,No,No,No,Yes,No,No
1043696,2.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No
1043852,7.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.10,0.13,0.0,No,No,No,Yes,No,No
1044048,8.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,-99.00,-99.00,0.0,Yes,No,No,Yes,No,No

In [ ]:
# Last row need to be deleted

In [41]:
data.tail()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
sku,,,,,,,,,,,,,,,,,,,,,
1373987,-1.0,NaN,0.0,5.0,7.0,9.0,1.0,3.0,3.0,8.0,...,0.0,-99.00,-99.00,1.0,No,No,No,Yes,No,No
1524346,-1.0,9.0,0.0,7.0,9.0,11.0,0.0,8.0,11.0,12.0,...,0.0,0.86,0.84,1.0,Yes,No,No,No,No,Yes
1439563,62.0,9.0,16.0,39.0,87.0,126.0,35.0,63.0,153.0,205.0,...,0.0,0.86,0.84,6.0,No,No,No,Yes,No,No
1502009,19.0,4.0,0.0,0.0,0.0,0.0,2.0,7.0,12.0,20.0,...,0.0,0.73,0.78,1.0,No,No,No,Yes,No,No
(1687860 rows),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
data.drop(data.tail(1).index, inplace=True)

In [43]:
data.tail()

,national_inv,lead_time,in_transit_qty,forecast_3_month,forecast_6_month,forecast_9_month,sales_1_month,sales_3_month,sales_6_month,sales_9_month,...,pieces_past_due,perf_6_month_avg,perf_12_month_avg,local_bo_qty,deck_risk,oe_constraint,ppap_risk,stop_auto_buy,rev_stop,went_on_backorder
sku,,,,,,,,,,,,,,,,,,,,,
1407754,0.0,2.0,0.0,10.0,10.0,10.0,0.0,5.0,7.0,7.0,...,0.0,0.69,0.69,5.0,Yes,No,No,Yes,No,No
1373987,-1.0,NaN,0.0,5.0,7.0,9.0,1.0,3.0,3.0,8.0,...,0.0,-99.00,-99.00,1.0,No,No,No,Yes,No,No
1524346,-1.0,9.0,0.0,7.0,9.0,11.0,0.0,8.0,11.0,12.0,...,0.0,0.86,0.84,1.0,Yes,No,No,No,No,Yes
1439563,62.0,9.0,16.0,39.0,87.0,126.0,35.0,63.0,153.0,205.0,...,0.0,0.86,0.84,6.0,No,No,No,Yes,No,No
1502009,19.0,4.0,0.0,0.0,0.0,0.0,2.0,7.0,12.0,20.0,...,0.0,0.73,0.78,1.0,No,No,No,Yes,No,No

In [44]:
data.isna().sum()

national_inv              0
lead_time            100893
in_transit_qty            0
forecast_3_month          0
forecast_6_month          0
forecast_9_month          0
sales_1_month             0
sales_3_month             0
sales_6_month             0
sales_9_month             0
min_bank                  0
potential_issue           0
pieces_past_due           0
perf_6_month_avg          0
perf_12_month_avg         0
local_bo_qty              0
deck_risk                 0
oe_constraint             0
ppap_risk                 0
stop_auto_buy             0
rev_stop                  0
went_on_backorder         0
dtype: int64

# 4. EDA